html
  body
    main
      .content
        h1.title
          | Clark Hacks?
          br
          pre ---------------
        article
          p
            | Clark 
            i "Hacks" 
            | Weckmann is an American Web Designer and Developer. Born and raised in suburban Collinsvile Illinois he had a young start. At the young age of 12 Clark was bitten by the 
            i "Hacker Bug." 
            | Starting off humbly with Batch (yuk) and soon progressing to Visual Basic Clark learned quick.
          h3 Where Now?
          p
            | Currently Clark is age 
            span#age 17 (As of January 2018)
            | and working freelance. You can find him at 
            a(href="https://clarkhacks.com") ClarkHacks.com
            | .
        .footer
          hr
          a(href='https://clarkhacks.com/blog/') Blog
          a(href='https://clarkhacks.com/~social') Hire Clark
          a(href='https://clarkhacks.com/donate') Donate
